@charset "UTF-8";
@font-face {
    font-family: 'passionbold';
    src: url('fontes/PassionOne-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'sriracha';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}
:root{
    --font-padrao: 'Verdana, Geneva, Tahoma, sans-serif';
    --font-titulo: 'passionbold';
    --font-texto: 'sriracha';
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font-padrao);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header  h1{
    padding-top: 50px;
    /*Temos duas tecnicas para fazer o título ficar todo em maiusculo, porem se todas as letras ficarem maiusculas de forma q todas estejam com o mesmo tamanho parece muito que o título está gritando: 
    Usando a declaração : 
    text-transform: uppercase;
    Todas as letras ficam em maiusculo porem de forma gritante, sendo assim temos a outra técnica que permite todas as letras estarem maiuscula mas com somente as primeiras letras estejam com um tamanho maior que o resto, dando a impressão que o título não está gritando: 
    font-variant: small-caps;
    Essa declaração é a melhor nesses casos.
    */
    font-variant: small-caps;
    font-family: var(--font-titulo);
    font-size: 4em;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh; /*Isso serve para aumentar o espaço de rolagem
                            Como vh é o tamanho percentual do tamanho da tela de visão do site o tamanho do conteudo se adapta.*/
    line-height: 2em;/*Serve para dar um espaçamento para o leitor*/
    padding-left: 30px;
    font-family: var(--font-texto);
    font-size: 2em;
}
.normal{
    background-color: white;
    color: black;
}
.imagem{
    background-color: rgb(86, 86, 86);
    color: white;

    /*Tirei o width daqui pois o display inline-block é melhor pois é um dito de caixa que se comporta como block mas se adapta ao conteudo.*/
}
.imagem p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.715);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 510px){
    header h1{
        font-size: 2em;
    }
    section{
        font-size: 1em;
    }
    /*Eu particularmente prefiro esse jeito pois é muito mais simples de achar um tamanho ideal para o usuário web sem muita dor de cabeça para o programador de websites.*/
}