@charset "UTF-8";

body{
    font: normal 1em Arial, sans-serif;
}
li{
    display: inline;
}
a{
    text-decoration: none;
    color: red;
}
a:visited{
    color: darkblue;
}
a:hover{
    color: black;
    text-decoration: underline;
}
a:active{
    color: green;
}