@charset "UTF-8";

@font-face {
    font-family: 'Bebas';
    src: url('../fontes/BebasNeue-Regular.ttf') format('truetype');
}

:root{
    --fonte-de-destaque: 'Bebas';

    --cor-dos-botoes: blue;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../imagens/imagem01.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    text-align: center;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.247);
    height: 450px;
    color: white;
}
header h1{
    font: normal normal 4em var(--fonte-de-destaque);
    font-variant: small-caps;
}
header p{
    font-size: 1.5em;
    text-decoration: underline;
}
#caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.297);
    padding: 15px;
}
article{
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    font-size: 1.3em;
    border-radius: 7px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.221);
}
article > h2{
    text-align: center;
    font: normal bold 3.5em var(--fonte-de-destaque);
    font-variant: small-caps;
}
article p{
    padding-top: 15px;
}
.intenso{
    font-weight: bolder;
    justify-content: left;
}
#imagem{
    margin: auto;
}
#conclusao{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    height: 550px;
}
aside{
    margin: 30px;
}
aside h3{
    text-align: center;
    padding-bottom: 10px;
    font: normal normal 3em var(--fonte-de-destaque);
    font-variant: small-caps;
}
aside p{
    max-width: 800px;
    font: normal normal 1.3em Times, serif;
    text-indent: 5px;
}
.multa{
    display: flex;
    align-items: center;
    justify-content: center;
}
#papel{
    background-image: url('../imagens/imagem02.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
    max-width: 100%;
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.24);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-weight: bolder;
}
#botao{
    display: block;
    width: 300px;
    height: 40px;
    margin: auto;
    background-color: var(--cor-dos-botoes);
    color: white;
    font: normal normal 1.2em Times, serif;
    border: 0px;
    border-radius: 14px;
    cursor: pointer;
}
#botao:hover{
    background-color: rgb(97, 97, 254);
}
#botao:active{
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.26);
    background-color: green;
    color: yellow;
}
#sp{
    background-color: white;
    padding-top: 170px;
}
#spp{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: black;
    color: white;
    padding: 25px;
}
footer > p{
    padding-top: 50px;
    text-align: justify;
}
#creditos{
    display: contents;
    margin: auto;
}


@media(max-width: 510px){
    body{
        font-size: .9em;
    }
}