@charset "UTF-8";

body{
    font: normal 1em Arial, sans-serif;
    text-align: center;
}
div{
    background-color: green;
    width: 300px;
    height: 300px;
    margin: auto;
    color: yellow;
}
div > p{
    display: none;
}
div:hover > p{
    display: block;
    color: white;
}
div:hover{
    background-color: blue;
}