@charset "UTF-8";

#central{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 200px;
    height: 200px;
    margin: auto;
    cursor: pointer;
}
#central:hover{
    background-color: pink;
    color: red;
}
#central:active{
    color: green;
}